<p class='title'><%= CGI.escapeHTML(@memo['title']) %></p>
<p class='content'><%= CGI.escapeHTML(@memo['content']) %></p>
<a href="/memos/<%= @memo['id'] %>/edit">変更</a>
<form method='post' action="/memos/<%= @memo['id'] %>">
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='削除'>
</form>
