<p class='title'><%= CGI.escapeHTML(@memo[0]['title']) %></p>
<p class='content'><%= CGI.escapeHTML(@memo[0]['content']) %></p>
<a href="/memos/<%= @memo[0]['id'] %>/edit">変更</a>
<form method='post' action="/memos/<%= @memo[0]['id'] %>">
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='削除'>
</form>
