<% id = params[:id] %>
<% memo = @memos[0] %>
<form method='post' action='/memos/<%= id.to_i %>'>
  <input type='text' name='title' size='30' value=<%= memo['title'] %> ><br>
  <textarea type='text' name='content' cols='30' rows='10' ><%= memo['content'] %></textarea><br>
  <input type='hidden' name='_method' value='patch'>
  <input type='submit' value='変更'>
</form>
