<form method='post' action="/memos/<%= @memo['id'] %>">
  <input type='text' name='title' size='30' value=<%= CGI.escapeHTML(@memo['title']) %> ><br>
  <textarea type='text' name='content' cols='30' rows='10' ><%= CGI.escapeHTML(@memo['content']) %></textarea><br>
  <input type='hidden' name='_method' value='patch'>
  <input type='submit' value='変更'>
</form>
